<div class="tc-ctl-dwn-dialog tc-modal {{cssClass}}">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3>{{title}}</h3>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
            {{#if elevation}}
            <div class="tc-ctl-dwn-dialog-elev">
                <input id="{{checkboxId}}" type="checkbox">
                <label for="{{checkboxId}}" class="tc-ctl-dwn-dialog-elev-label">{{i18n "includeElevations"}}</label>
            </div>
                {{#if elevation.resolution}}
            <div class="tc-ctl-dwn-dialog-ip tc-hidden">
                <h4>{{i18n "interpolateCoordsFromElevProfile"}}</h4>
                <label>
                    <input type="radio" name="finfo-ip-coords" value="0" checked />
                    <span>{{i18n "no"}}</span>
                </label>
                <label>
                    <input type="radio" name="finfo-ip-coords" value="1" />
                    <span>{{i18n "yes"}}</span>
                </label>
                <div class="tc-ctl-dwn-dialog-ip-m tc-hidden">{{i18n "interpolateEveryXMeters.1"}}<input type="number" min="1" step="1" class="tc-textbox" value="{{elevation.resolution}}" />{{i18n "interpolateEveryXMeters.2"}}</div>
            </div>
                {{/if}}
            {{/if}}
            <div class="tc-ctl-dwn-dialog-dl">
                <div>
                    {{#each formats}}
                        {{#if (eq this "KML")~}}
                    <button class="tc-button tc-btn-dl tc-ctl-dwn-dialog-btn-kml" data-format="KML" title="KML">KML</button>
                        {{~else if (eq this "KMZ")~}}
                    <button class="tc-button tc-btn-dl tc-ctl-dwn-dialog-btn-kmz" data-format="KMZ" title="KMZ">KMZ</button>
                        {{~else if (eq this "GML")~}}
                    <button class="tc-button tc-btn-dl tc-ctl-dwn-dialog-btn-gml" data-format="GML" title="GML">GML</button>
                        {{~else if (eq this "GeoJSON")~}}
                    <button class="tc-button tc-btn-dl tc-ctl-dwn-dialog-btn-geojson" data-format="GeoJSON" title="GeoJSON">GeoJSON</button>
                        {{~else if (eq this "WKT")~}}
                    <button class="tc-button tc-btn-dl tc-ctl-dwn-dialog-btn-wkt" data-format="WKT" title="WKT">WKT</button>
                        {{~else if (eq this "GPX")~}}
                    <button class="tc-button tc-btn-dl tc-ctl-dwn-dialog-btn-gpx" data-format="GPX" title="GPX">GPX</button>
                        {{~/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>