<div class="tc-ctl-ftools">
    <button class="tc-ctl-ftools-dl-btn" title="{{i18n "downloadFeature"}}">{{i18n "download"}}</button>
    <button class="tc-ctl-ftools-share-btn" title="{{i18n "shareFeature"}}">{{i18n "share"}}</button>
    <button class="tc-ctl-ftools-zoom-btn" title="{{i18n "zoomToFeature"}}">{{i18n "zoomToFeature"}}</button>
    <button class="tc-ctl-ftools-del-btn" title="{{i18n "deleteFeature"}}">{{i18n "deleteFeature"}}</button>
</div>