<div class="tc-ctl-m-finfo-select">
    <form>
        <span>{{i18n "selectionBy"}}</span>
        {{#if pointSelectValue}}<label class="tc-ctl-m-finfo-btn-point" title="{{i18n " selectionByPoint"}}"><input type="radio" name="selectmode" value="{{pointSelectValue}}" checked /><span class="tc-ctl-btn">{{i18n "byPoint"}}</span></label>{{/if}}
        {{#if lineSelectValue}}<label class="tc-ctl-m-finfo-btn-line" title="{{i18n " selectionByLine"}}"><input type="radio" name="selectmode" value="{{lineSelectValue}}" /><span class="tc-ctl-btn">{{i18n "byLine"}}</span></label>{{/if}}
        {{#if polygonSelectValue}}<label class="tc-ctl-m-finfo-btn-polygon" title="{{i18n " selectionByPrecinct"}}"><input type="radio" name="selectmode" value="{{polygonSelectValue}}" /><span class="tc-ctl-btn">{{i18n "byPrecinct"}}</span></label>{{/if}}
        <button class="tc-ctl-m-finfo-btn-remove" disabled title="{{i18n "deleteFeatures"}}"></button>
    </form>
</div>
