<div class="tc-ctl-finfo-btn">
    <input type="checkbox" class="tc-toggle tc-ctl-finfo-btn-show-all" title="{{i18n "showOnMapAllResults"}}" />
    <button type="button" class="tc-icon-btn tc-ctl-finfo-btn-zoom-all tc-hidden" title="{{i18n "zoomToAllResults"}}">{{i18n "zoomToAllResults"}}</button>
    <button type="button" class="tc-icon-btn tc-ctl-finfo-btn-del-all tc-hidden" title="{{i18n "removeAllResults"}}">{{i18n "removeAllResults"}}</button>
    <button type="button" class="tc-icon-btn tc-ctl-finfo-btn-dl" title="{{i18n "downloadAllResults"}}">{{i18n "downloadAllResults"}}</button>
</div>