<li class="tc-ctl-wlm-elm" tabindex="-1">
    <div title="{{title}}" class="tc-ctl-wlm-lyr">{{#if path}}{{title}}{{/if}}</div>
    <div class="tc-ctl-wlm-type"></div><div class="tc-ctl-wlm-path" title="{{#each path}}{{#unless @first}} &bull; {{/unless}}{{#each this}}{{#unless @first}} &rsaquo; {{/unless}}{{this}}{{/each}}{{else}}{{title}}{{/each}}">{{#each path}}<span>{{#each this}}{{#unless @first}} &rsaquo; {{/unless}}{{this}}{{/each}}</span>{{else}}{{title}}{{/each}}</div>
                                       <div class="tc-ctl-wlm-input">
                                           <div class="tc-ctl-wlm-tools">
                                               {{#if hasInfo}}<sitna-toggle class="tc-ctl-wlm-cb-info" title="[[infoFromThisLayer]]" checked-icon-text="&#xe923;" unchecked-icon-text="&#xe923;"></sitna-toggle>{{/if}}
                                               <sitna-toggle class="tc-ctl-wlm-cb-visibility" {{#unless hide}} checked {{/unless}} title="[[visibilityOfThisLayer]]" checked-icon-text="&#xe910;" unchecked-icon-text="&#xe911;"></sitna-toggle>
                                               {{#if hasExtent}}<sitna-button variant="minimal" icon-text="&#xe917;" class="tc-ctl-wlm-btn-zoom" text="[[zoomToLayerExtent]]"></sitna-button>{{/if}}
                                               <sitna-button variant="minimal" icon="delete" class="tc-ctl-wlm-btn-del tc-item-tool-last" {{#if unremovable}} disabled{{else}}text="[[removeLayerFromMap]]" {{/if}}></sitna-button>
                                               <sitna-button variant="minimal" icon-text="&#x2022&#x2022&#x2022" class="tc-ctl-wlm-btn-more" text="[[otherTools]]"></sitna-button>
                                           </div>
                                           <input type="range" value="{{opacity}}" title="[[transparencyOfThisLayer]]" />
                                       </div>
        <div class="tc-ctl-wlm-info tc-hidden">
            {{#if abstract.length}}
            <div class="tc-ctl-wlm-abstract">
                <h4>[[abstract]]</h4>
                {{#each abstract}}
                <div><pre>{{{this}}}</pre></div>
                {{/each}}
            </div>
            {{/if}}
            {{#if customLegend}}
            <ul class="tc-ctl-wlm-custom-legend">
                {{{customLegend}}}
            </ul>
            {{else}}
                {{#if legend.length}}
                <div class="tc-ctl-wlm-legend" data-layer-name="{{layerNames}}">
                    <h4>[[content]]:</h4>
                    {{#each legend}}
                        {{#each this}}
                <div>
                    <p>{{title}}</p>                  
                    
                    {{#if symbols}}
                    {{#each symbols}}
                    <p>
                        <img data-img="{{this.src}}" />
                        <span>{{{this.title}}}</span>
                    </p>
                    {{/each}}
                    {{else}}
                    <img data-img="{{src}}" />
                    {{/if}}
                </div>
                        {{/each}}
                    {{/each}}
                </div>
                {{/if}}
            {{/if}}
            {{#if metadata.length}}
            <div class="tc-ctl-wlm-metadata">
                <h4>[[metadata]]:</h4>
                <ul>
                    {{#each metadata}}
                    <li>
                        <ul>
                            {{#each this}}
                            <li><a href="{{{url}}}" class="tc-file-link" type="{{format}}" title="{{formatDescription}}" target="_blank">{{formatDescription}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        </div>
    <div class="tc-ctl-wlm-dd" title="[[dragToReorder]]"></div>
</li>