{{#if customLegend}}
    {{{customLegend}}}
{{else}}
    <li {{#if children}}class="tc-ctl-legend-node" {{else}}class="tc-ctl-legend-node tc-ctl-legend-leaf" {{/if}} data-layer-name="{{name}}" data-layer-uid="{{uid}}">
        <div class="tc-ctl-legend-title">{{#if legendTitle}}{{legendTitle}}{{else}}{{title}}{{/if}}</div>
        {{#if legend}}
            {{#each legend}}
        <div class="tc-ctl-legend-watch">
                {{#if src}}
            <img src="" data-img="{{src}}" style="{{#if width}}width:{{width}}px;height:{{height}}px;{{/if}}{{#if scale}}transform:scale({{scale}});transform-origin:0 50% 0;{{/if}}" />
                {{else}}
                    {{#if strokeColor}}
            <div class="tc-ctl-legend-img" style="border:solid {{strokeWidth}}px {{strokeColor}};background-color:{{fillColor}}{{#if width}};width:{{width}}px;height:{{height}}px;border-radius:50%{{/if}}"></div>
                    {{/if}}
                {{/if}}
                {{#if value}}
            <span class="tc-ctl-legend-txt">{{value}}</span>
                {{/if}}
        </div>
            {{/each}}
        <div class="tc-ctl-legend-nvr">{{i18n "notVisibleAtCurrentResolution"}}</div>
        {{/if}}
        <ul class="tc-ctl-legend-branch">
            {{#each children}}
                {{> tc-ctl-legend-node}}
            {{/each}}
        </ul>
    </li>
{{/if}}