<table class="table">
    <thead>
        {{#each columns}}
        {{#unless (startsWith this "h3_")}}
        {{#unless (startsWith this "h4_")}}
        <th{{#if ../sort}} title="{{i18n "wfs.QuerySortTitle"}}" class="tc-ctl-wfsquery-results-sortable{{#if (eq this ../sort.field)}} {{#if ../sort.order}}tc-ctl-wfsquery-results-sorting-asc{{else}}tc-ctl-wfsquery-results-sorting-desc{{/if}}{{/if}}" {{/if}}>
            {{this}}</th>
        {{/unless}}
        {{/unless}}
        {{/each}}

</thead>
    <tbody>
        {{#each results}}
        <tr title="{{i18n "zoomToFeature" }}" data-id="{{Id}}" data-index="{{#if (gt index -1)}}{{index}}{{else}}{{@index}}{{/if}}" class="tc-selectable">
            {{#each this}}
            {{#unless (eq @key 'index')}}
            {{#unless (startsWith @key "h3_")}}
            {{#unless (startsWith @key "h4_")}}
            <td class="{{lowerCase @key}}">
                {{> tc-ctl-finfo-attr-val name=@key value=. }}
            </td>
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
