<h2>{{i18n "drawAndMeasure"}}</h2>
<div class="tc-ctl-meas-select">
    <sitna-tab class="tc-ctl-meas-select-mode-point" text="{{i18n "points"}}" group="{{controlId}}-mode" for="{{controlId}}-mode-point"></sitna-tab>
    <sitna-tab class="tc-ctl-meas-select-mode-polyline" text="{{i18n "lines"}}" group="{{controlId}}-mode" for="{{controlId}}-mode-polyline"></sitna-tab>
    <sitna-tab class="tc-ctl-meas-select-mode-polygon" text="{{i18n "polygons"}}" group="{{controlId}}-mode" for="{{controlId}}-mode-polygon"></sitna-tab>
</div>
<div id="{{controlId}}-mode-point" class="tc-ctl-meas-mode tc-ctl-meas-pt tc-hidden">
    <sitna-draw mode="point" measurer borrowed-layer{{#if singleSketch}} single-sketch{{/if}}{{#if stylable}} stylable{{/if}}></sitna-draw>
    <sitna-measurement mode="point"></sitna-measurement>
</div>
<div id="{{controlId}}-mode-polyline" class="tc-ctl-meas-mode tc-ctl-meas-len tc-hidden">
    <sitna-draw mode="polyline" measurer borrowed-layer{{#if singleSketch}} single-sketch{{/if}}{{#if extensibleSketch}} extensible-sketch{{/if}}{{#if stylable}} stylable{{/if}}></sitna-draw>
    <sitna-measurement mode="polyline"{{#if displayElevation}} enabled-profile{{/if}}></sitna-measurement>
</div>
<div id="{{controlId}}-mode-polygon" class="tc-ctl-meas-mode tc-ctl-meas-area tc-hidden">
    <sitna-draw mode="polygon" measurer borrowed-layer{{#if singleSketch}} single-sketch{{/if}}{{#if stylable}} stylable{{/if}}></sitna-draw>
    <sitna-measurement mode="polygon"></sitna-measurement>
</div>
<div class="tc-ctl-dmm-tool">
    <div class="tc-ctl-dmm-mod">
        <sitna-modify></sitna-modify>
    </div>
    <div class="tc-ctl-dmm-cmd">
        <button type="button" class="tc-ctl-dmm-btn-hide tc-ctl-btn tc-active" disabled title="{{i18n "hideSketch"}}">{{i18n "hideSketch"}}</button>
        <button type="button" class="tc-ctl-dmm-btn-dl tc-ctl-btn" disabled title="{{i18n "download"}}">{{i18n "download"}}...</button>
        <button type="button" class="tc-ctl-dmm-btn-clr tc-ctl-btn" disabled title="{{i18n "deleteAll"}}">{{i18n "deleteAll"}}</button>
    </div>
</div>
