<div class="tc-ctl-bms-more-dialog tc-modal tc-hidden">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3>{{i18n "backgroundMaps"}}</h3>
            <button class="tc-icon-btn tc-ctl-bms-btn-view tc-details" title="{{i18n "showDetailsView"}}"></button>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
        </div>
        <div class="tc-modal-footer">
            <button type="button" class="tc-button tc-modal-close">{{i18n "close"}}</button>
        </div>
    </div>
</div>
<div class="tc-ctl-bms-crs-dialog tc-modal tc-hidden">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3>{{i18n "baseLayerNotCompatible"}}</h3>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
            <p>{{i18n "baseLayerNotCompatible.instructions"}}</p>
            <ul class="tc-ctl-bms-crs-list tc-crs-list"></ul>
        </div>
        <div class="tc-modal-footer">
            <button type="button" class="tc-button tc-modal-close">{{i18n "close"}}</button>
        </div>
    </div>
</div>

