<div title="{{i18n "crs"}}"{{#if allowReprojection}} class="tc-active"{{/if}}>CRS: <span class="tc-ctl-coords-crs">{{crs}}</span>{{#if allowReprojection}}<button type="button" class="tc-ctl-coords-crs" title="{{i18n "changeCRS"}}">{{crs}}</button>{{/if}}</div>
<div class="tc-ctl-coords-main">
    <div class="tc-ctl-coords-latlon{{#unless isGeo}} tc-hidden{{/unless}}">
        {{i18n "lat"}}: <span class="tc-ctl-coords-lat">{{lat}}</span> 
        {{i18n "lon"}}: <span class="tc-ctl-coords-lon">{{lon}}</span> 
        <div class="tc-ctl-coords-elev-container{{#unless ele}} tc-hidden{{/unless}}">{{i18n "ele"}}: <span class="tc-ctl-coords-elevation">{{ele}}</span></div>
    </div>
    <div class="tc-ctl-coords-xy{{#if isGeo}} tc-hidden{{/if}}">
        x: <span class="tc-ctl-coords-x">{{x}}</span> 
        y: <span class="tc-ctl-coords-y">{{y}}</span> 
        <div class="tc-ctl-coords-elev-container{{#unless ele}} tc-hidden{{/unless}}">z: <span class="tc-ctl-coords-elevation">{{ele}}</span></div>
    </div>
</div>
{{#unless isGeo}}
    {{#if showGeo}}
<div class="tc-ctl-coords-alt">
    <div class="tc-ctl-coords-latlon">
        {{i18n "lat"}}: <span class="tc-ctl-coords-lat">{{lat}}</span> 
        {{i18n "lon"}}: <span class="tc-ctl-coords-lon">{{lon}}</span> 
    </div>
</div>
    {{/if}}
{{/unless}}
<sitna-button variant="minimal" icon="close"></sitna-button>