<li data-id="{{id}}" data-uid="{{uid}}">
    <span class="tc-draw tc-selectable" title="{{name}}">{{name}}</span>
    <input class="tc-textbox tc-hidden" type="text" value="{{name}}" />
    <button class="tc-btn-share" title="{{i18n "tr.lst.share" }}"></button>
    <button class="tc-btn-simulate" title="{{i18n "tr.lst.simulate" }}"></button>
    <button hidden class="tc-btn-stop" title="{{i18n "tr.lst.stop" }}"></button>
    <button class="tc-btn-edit" title="{{i18n "tr.lst.edit" }}"></button>
    <button hidden class="tc-btn-pause" title="{{i18n "tr.lst.pause" }}"></button>
    <button hidden class="tc-btn-backward" title="{{i18n "tr.lst.backward" }}"></button>
    <label hidden class="tc-spn-speed" title="{{i18n "tr.lst.velocity" }}"></label>
    <button hidden class="tc-btn-forward" title="{{i18n "tr.lst.forward" }}"></button>
    <button class="tc-btn-save tc-hidden" title="{{i18n "save" }}"></button>
    <button class="tc-btn-cancel tc-hidden" title="{{i18n "tr.lst.cancel" }}"></button>
    <button class="tc-btn-export" title="{{i18n "tr.lst.download" }}"></button>
    <button class="tc-btn-delete" title="{{i18n "tr.lst.delete" }}"></button>
</li>
