<button class="tc-ctl-btn tc-ctl-mod-btn-select" disabled title="{{i18n "select"}}">{{i18n "select"}}</button><button 
class="tc-ctl-btn tc-ctl-mod-btn-delete" disabled title="{{i18n "deleteSelectedFeatures"}}">{{i18n "deleteSelectedFeatures"}}</button><button 
class="tc-ctl-btn tc-ctl-mod-btn-join" disabled title="{{i18n "joinGeometries.tooltip"}}">{{i18n "joinGeometries"}}</button><button 
class="tc-ctl-btn tc-ctl-mod-btn-split" disabled title="{{i18n "splitGeometry"}}">{{i18n "splitGeometry"}}</button><button 
class="tc-ctl-btn tc-ctl-mod-btn-attr" disabled title="{{i18n "editAttributes"}}">{{i18n "editAttributes"}}</button><button 
class="tc-ctl-btn tc-ctl-mod-btn-text" contenteditable="true" disabled title="{{i18n "addText"}}">{{i18n "addText"}}</button>
<div class="tc-ctl-mod-style tc-hidden">
    <input type="text" class="tc-ctl-mod-txt tc-textbox" placeholder="{{i18n "writeTextForSketch"}}" style="font-size:{{fontSize}}pt;font-color:{{fontColor}};text-shadow: 0 0 {{labelOutlineWidth}}px {{labelOutlineColor}};" />
    {{i18n "textColor"}}
    <input type="color" class="tc-ctl-mod-fnt-c" value="{{fontColor}}" />
    {{i18n "fontSize"}}
    <input type="number" class="tc-ctl-mod-fnt-s tc-textbox" value="{{fontSize}}" min="7" max="20" />
</div>
<div class="tc-ctl-mod-attr tc-hidden"></div>
