<li data-extent="{{extent}}">
    <span><a href="{{url}}" title="{{name}}">{{name}}</a></span>
    <input class="tc-textbox tc-hidden" type="text" value="{{name}}" />
    <button type="button" class="tc-icon-btn tc-btn-save tc-hidden" title="{{i18n "save"}}"></button>
    <button type="button" class="tc-icon-btn tc-btn-cancel tc-hidden" title="{{i18n "cancel"}}"></button>
    <button type="button" class="tc-icon-btn tc-btn-edit" title="{{i18n "editMapName"}}">{{i18n "editMapName"}}</button>
    <button type="button" class="tc-toggle tc-btn-view" title="{{i18n "viewMapExtent"}}">{{i18n "viewMapExtent"}}</button>
    <button type="button" class="tc-icon-btn tc-btn-delete" title="{{i18n "deleteMap"}}">{{i18n "deleteMap"}}</button>
</li>
