<h2>
    {{i18n "availableLayers"}}
    {{#if enableSearch}}
        {{#if layerTrees}}
    <button class="tc-icon-btn tc-ctl-lcat-btn-search" title="{{i18n "searchLayersByText"}}"></button>
        {{/if}}
        {{#if layers}}
    <button class="tc-icon-btn tc-ctl-lcat-btn-search" title="{{i18n "searchLayersByText"}}"></button>
        {{/if}}
    {{/if}}
</h2>


<div class="tc-ctl-lcat-search tc-hidden tc-collapsed">
    <div class="tc-group">
        <input type="search" class="tc-ctl-lcat-input tc-textbox" placeholder="{{i18n "textToSearchInLayers"}}">
    </div>
    <ul></ul>

</div>

<div class="tc-ctl-lcat-tree">
    {{#if layerTrees}}
    <ul class="tc-ctl-lcat-branch">
        {{#each layerTrees}}
            {{> tc-ctl-lcat-branch}}
        {{/each}}
    </ul>
    {{else}}
        {{#if layers}}
            <ul class="tc-ctl-lcat-branch">
                {{#each layers}}
                    <li data-layer-id="{{id}}" title="{{i18n "loadingLayers"}}" class="tc-ctl-lcat-loading-node"> {{title}}</li>
                {{/each}}
            </ul>
        {{else}}
            <div class="tc-ctl tc-ctl-lcat-loading">
                <span>{{i18n "loadingLayerTree"}}...</span>
            </div>
        {{/if}}
    {{/if}}
</div>
<div class="tc-ctl-lcat-info tc-hidden">
    {{> tc-ctl-lcat-info}}
</div>