<h2>{{i18n "measure"}}</h2>
<div class="tc-ctl-meas-select">
    <sitna-tab class="tc-ctl-meas-select-mode-polyline" text="{{i18n "length"}}" group="{{controlId}}-mode" for="{{controlId}}-mode-polyline"></sitna-tab>
    <sitna-tab class="tc-ctl-meas-select-mode-polygon" text="{{i18n "areaAndPerimeter"}}" group="{{controlId}}-mode" for="{{controlId}}-mode-polygon"></sitna-tab>
</div>
<div id="{{controlId}}-mode-polyline" class="tc-ctl-meas-mode tc-ctl-meas-len tc-hidden">
    <sitna-draw mode="polyline" measurer borrowed-layer{{#if singleSketch}} single-sketch{{/if}}{{#if stylable}} stylable{{/if}}></sitna-draw>
    <sitna-measurement mode="polyline"></sitna-measurement>
</div>
<div id="{{controlId}}-mode-polygon" class="tc-ctl-meas-mode tc-ctl-meas-area tc-hidden">
    <sitna-draw mode="polygon" measurer borrowed-layer{{#if singleSketch}} single-sketch{{/if}}{{#if stylable}} stylable{{/if}}></sitna-draw>
    <sitna-measurement mode="polygon"></sitna-measurement>
</div>