<div class="tc-ctl-geolocation-ext-dldlog tc-hidden">
    <label>
        <input type="radio" name="{{controlId}}-dldlog-source" value="track" checked />
        <span>{{i18n "geo.profile.fromTrack.plural"}}</span>
    </label>
    <label>
        <input type="radio" name="{{controlId}}-dldlog-source" value="mdt" />
        <span title="{{i18n "mdt.title"}}">{{i18n "mdt"}}</span>
    </label>
</div>
