{{#if (isObject this)}}
<table class="complexAttr">
    <tbody>
    {{#each this}}
        {{#unless (isObject this)}}
        <tr class="keyValue">
            <th class="key">{{@key}}</th>
            <td class="value tc-ctl-finfo-val">{{#unless (isEmpty this)}}{{> tc-ctl-finfo-object this }}{{/unless}}</td>
        </tr>
        {{else}}
        <tr>
            <th style="display:none">{{@key}}</th>
            <td>
                {{#if (isObject this)}}
                <!--object-->
                <input type="checkbox" id="complexAttr_{{getId this}}">
                <div>
                    <label for="complexAttr_{{getId this}}" class="plus" title=""></label>
                    <label for="complexAttr_{{getId this}}" class="title" title="">{{@key}}</label><br />
                {{else}}
                    {{#if (isArray this)}}
                <!--array-->
                <div>
                    <label for="complexAttr_{{getId this}}" class="title" title="">{{@key}}</label><br />
                    {{else}}
                <div>
                    {{/if}}
                    <!--native-->
                {{/if}}
                    {{> tc-ctl-finfo-object }}
                </div>
            </td>
        </tr>
        {{/unless}}
    {{/each}}
    </tbody>
</table>
{{else}}
    {{#if (isArray this)}}
<div class="complexAttr">
    <input type="checkbox" id="complexAttr_{{getId this}}">
    <div>
        <label for="complexAttr_{{getId this}}" class="plus" title=""></label>
        <label for="complexAttr_{{getId this}}" class="title" title="">{{length}} {{i18n "featureInfo.complexData.array"}}</label><br />
        <table class="complexAttr">
            <tbody>
                {{#each this}}
                <tr>
                    <td>{{> tc-ctl-finfo-object }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
    {{else}}
        {{#if (isUrl this)}}
<a href="{{this}}" target="_blank" title="{{i18n "linkInNewWindow"}}">{{i18n "open"}}</a>
        {{else}}
{{{formatDateOrNumber this }}}
        {{/if}}
    {{/if}}
{{/if}}