<div class="tc-ctl-ftools">
    <button class="tc-icon-btn tc-ctl-ftools-dl-btn" title="{{i18n "downloadFeature"}}">{{i18n "download"}}</button>
    <button class="tc-icon-btn tc-ctl-ftools-share-btn" title="{{i18n "shareFeature"}}">{{i18n "share"}}</button>
    <button class="tc-icon-btn tc-ctl-ftools-zoom-btn" title="{{i18n "zoomToFeature"}}">{{i18n "zoomToFeature"}}</button>
    <button class="tc-icon-btn tc-ctl-ftools-elev-btn tc-hidden" title="{{i18n "viewElevation"}}">{{i18n "viewElevation"}}</button>
    <button class="tc-icon-btn tc-ctl-ftools-prof-btn tc-hidden" title="{{i18n "viewElevationProfile"}}">{{i18n "viewElevationProfile"}}</button>
    <button class="tc-icon-btn tc-ctl-ftools-del-btn" title="{{i18n "deleteFeature"}}">{{i18n "deleteFeature"}}</button>
</div>