<h2>{{title}}</h2>
<div class="tc-ctl-tctr-select">
    {{#each controls~}}
    <sitna-tab text="{{title}}" group="{{../controlId}}-sel" for="{{../controlId}}-sel-{{@index}}"{{#if ../deselectableTabs}} deselectable{{/if}}></sitna-tab>
    {{~/each}}
</div>
{{#each controls}}
<div id="{{../controlId}}-sel-{{@index}}" class="tc-ctl-tctr-elm tc-ctl-tctr-elm-{{@index}} tc-hidden">
</div>
{{/each}}