<h2>[[share]]</h2>
<div>

    <div class="tc-ctl-share-select">
        <sitna-tab class="tc-ctl-share-select-url" text="[[shareLink]]" title="[[shareLink]]" selected group="{{controlId}}-format" for="{{controlId}}-format-url"></sitna-tab>
        <sitna-tab class="tc-ctl-share-select-iframe" text="[[embedMap]]" title="[[embedMap]]" group="{{controlId}}-format" for="{{controlId}}-format-iframe"></sitna-tab>
        {{#if native}}
        <sitna-tab class="tc-ctl-share-select-image" text="[[image]]" title="[[shareMapAsImage]]" group="{{controlId}}-format" for="{{controlId}}-format-image"></sitna-tab>
        {{/if}}
    </div>
    <div id="{{controlId}}-format-url" class="tc-ctl-share-url-box tc-group tc-url">
        <input type="text" class="tc-textbox tc-url" readonly data-toggle="tooltip" data-placement="top" title="[[shareLink.tip.1]]" />
        <input class="tc-toggle tc-ctl-share-btn-shorten" type="checkbox" id="{{controlId}}-format-url-shorten" title="[[shareLink.tip.3]]">
        <label for="{{controlId}}-format-url-shorten">{{i18n "shorten"}}</label>        
        <div class="tc-ctl-share-icons">
            <sitna-button variant="minimal" class="tc-ctl-share-btn-copy" text="[[shareLink.tip.2]]"></sitna-button>
            {{#if native}}
            <sitna-button variant="minimal" class="tc-ctl-share-btn-native" text="[[shareURL]]"></sitna-button>
            {{/if}}
            <sitna-button variant="minimal" class="tc-ctl-share-btn-email" text="[[sendMapByEmail]]"></sitna-button>
            <sitna-button variant="minimal" class="tc-ctl-share-btn-qr" text="[[createQrCode]]"></sitna-button>
            <sitna-button variant="minimal" class="tc-ctl-share-btn-whatsapp" text="[[shareMapToWhatsapp]]"></sitna-button>
            <sitna-button variant="minimal" class="tc-ctl-share-btn-twitter" text="[[shareMapToTwitter]]"></sitna-button>
            <sitna-button variant="minimal" class="tc-ctl-share-btn-facebook" text="[[shareMapToFacebook]]"></sitna-button>
            <sitna-button variant="minimal" class="tc-ctl-share-btn-bookmark" text="[[addToBookmarks]]"></sitna-button>
        </div>
    </div>
    <div id="{{controlId}}-format-iframe" class="tc-ctl-share-url-box tc-group tc-iframe tc-hidden">
        <input type="text" class="tc-textbox tc-iframe" readonly data-toggle="tooltip" data-placement="top" title="[[embedMap.tip.1]]" />
        <div class="tc-ctl-share-icons">
            <sitna-button variant="minimal" class="tc-ctl-share-btn-copy" text="[[embedMap.tip.2]]"></sitna-button>
        </div>
        </div>

    {{#if native}}
        <div id="{{controlId}}-format-image" class="tc-ctl-share-url-box tc-group tc-image tc-hidden">
            <div class="tc-ctl-share-icons">
                <div>
                    <input class="tc-toggle tc-ctl-share-chk-qr" type="checkbox" id="{{controlId}}-qr" title="[[createQrCodeToImage]]">
                    <label for="{{controlId}}-qr" class="tc-ctl-share-label-qr">[[appendQRCode]]</label>
                </div>
                <button class="tc-ctl-share-btn-png-native" data-format="PNG" title="[[sharePNG]]"></button>
                <button class="tc-ctl-share-btn-jpg-native" data-format="JPG" title="[[shareJPG]]"></button>
                <!--<sitna-button variant="minimal" class="tc-ctl-share-btn-png-native" text="[[sharePNG]]"></sitna-button>
    <sitna-button variant="minimal" class="tc-ctl-share-btn-jpg-native" text="[[shareJPG]]"></sitna-button>-->
            </div>
        </div>
        {{/if}}

        <div class="tc-ctl-share-alert tc-alert tc-alert-warning tc-hidden">
            <p>[[tooManyLayersLoaded]]</p>
        </div>
    </div>
