<div class="tc-ctl-draw-tools">
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-new" title="{{tooltip}}">{{i18n "new"}}</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-undo" disabled title="{{i18n "undo"}}">{{i18n "undo"}}</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-redo" disabled title="{{i18n "redo"}}">{{i18n "redo"}}</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-end" disabled title="{{i18n "end"}}">{{i18n "end"}}</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-cancel" title="{{i18n "cancel"}}">{{i18n "cancel"}}</button>
</div>
<div class="tc-ctl-draw-style{{#unless stylable}} tc-hidden{{/unless}}">
    <sitna-feature-styler></sitna-feature-styler>
</div>

