<li data-id="{{id}}" data-uid="{{uid}}">
    <div class="tc-ctl-geolocation-tools-always">
        <sitna-button variant="link" text="{{name}}"></sitna-button>
        <input class="tc-textbox tc-hidden" type="text" value="{{name}}" />

        <button type="button" class="tc-btn-save tc-hidden" title="{{i18n "save" }}"></button>
        <button type="button" class="tc-btn-cancel tc-hidden" title="{{i18n "tr.lst.cancel" }}"></button>
        <button type="button" class="tc-btn-edit" title="{{i18n "tr.lst.edit" }}"></button>
        <button type="button" class="tc-btn-share" title="{{i18n "tr.lst.share" }}"></button>
        <button type="button" class="tc-btn-export" title="{{i18n "tr.lst.download" }}"></button>
        <button type="button" class="tc-btn-delete" title="{{i18n "tr.lst.delete" }}"></button>
    </div>
    <div class="tc-ctl-geolocation-tools-active">
        <div class="tc-ctl-geolocation-tools-sim">
            <button type="button" class="tc-btn-stop" title="{{i18n "tr.lst.stop" }}"></button>
            <button type="button" class="tc-btn-pause tc-play" title="{{i18n "tr.lst.start" }}"></button>
            <button type="button" class="tc-btn-backward" title="{{i18n "tr.lst.backward" }}"></button>
            <label class="tc-spn-speed" title="{{i18n "tr.lst.velocity" }}"></label>
            <button type="button" class="tc-btn-forward" title="{{i18n "tr.lst.forward" }}"></button>
        </div>
        <sitna-toggle class="tc-chk-track-visibility" checked text="{{i18n "tr.lst.view" }}" checked-icon-text="&#xe910;" unchecked-icon-text="&#xe911;"></sitna-toggle>
    </div>
</li>
