<h2>{{i18n "share"}}</h2>
<div>
    <div class="tc-ctl-share-icons">
        <sitna-button variant="minimal" class="tc-ctl-share-btn-email" text="{{i18n "sendMapByEmail"}}"></sitna-button>
        <sitna-button variant="minimal" class="tc-ctl-share-btn-qr" text="{{i18n "createQrCode"}}"></sitna-button>
        <sitna-button variant="minimal" class="tc-ctl-share-btn-facebook" text="{{i18n "shareMapToFacebook"}}"></sitna-button>
        <sitna-button variant="minimal" class="tc-ctl-share-btn-twitter" text="{{i18n "shareMapToTwitter"}}"></sitna-button>
        <sitna-button variant="minimal" class="tc-ctl-share-btn-whatsapp" text="{{i18n "shareMapToWhatsapp"}}"></sitna-button>
        <sitna-button variant="minimal" class="tc-ctl-share-btn-bookmark" text="{{i18n "addToBookmarks"}}"></sitna-button>
    </div>
    <div class="tc-ctl-share-select">
        <sitna-tab class="tc-ctl-share-select-url" text="{{i18n "shareLink"}}" title="{{i18n "shareLink"}}" selected group="{{controlId}}-format" for="{{controlId}}-format-url"></sitna-tab>
        <sitna-tab class="tc-ctl-share-select-iframe" text="{{i18n "embedMap"}}" title="{{i18n "embedMap"}}" group="{{controlId}}-format" for="{{controlId}}-format-iframe"></sitna-tab>
    </div>
    <div id="{{controlId}}-format-url" class="tc-ctl-share-url-box tc-group tc-url">
        <input type="text" class="tc-textbox tc-url" readonly data-toggle="tooltip" data-placement="top" title="{{i18n "shareLink.tip.1"}}" />
        <button type="button" class="tc-button hide tc-ctl-share-btn-shorten" title="{{i18n "shareLink.tip.3"}}">{{i18n "shorten"}}</button>
        <button type="button" class="tc-button hide tc-ctl-share-btn-copy" title="{{i18n "shareLink.tip.2"}}">{{i18n "copy"}}</button>
    </div>
    <div id="{{controlId}}-format-iframe" class="tc-ctl-share-url-box tc-group tc-iframe tc-hidden">
        <input type="text" class="tc-textbox tc-iframe" readonly data-toggle="tooltip" data-placement="top" title="{{i18n "embedMap.tip.1"}}" />
        <button type="button" class="tc-button hide" title="{{i18n "embedMap.tip.2"}}">{{i18n "copy"}}</button>
    </div>
    <div class="tc-ctl-share-alert tc-alert tc-alert-warning tc-hidden">
        <p>{{i18n "tooManyLayersLoaded" true}}</p>
    </div>    
</div>
