<div class="tc-ctl-download-help-dialog tc-modal">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3>{{i18n "downloadData"}}</h3>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
            <p>{{i18n "dl.instructions.1" true}}</p>
            <ul>
                <li>{{i18n "dl.instructions.2" true}}</li>
                <li>{{i18n "dl.instructions.3" true}}</li>
                    <li>
                        {{i18n "dl.instructions.4" true}}
                    <ul>
                        <li>{{i18n "dl.instructions.5" true}}</li>
                        <li>{{i18n "dl.instructions.6" true}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tc-modal-footer">
            <button type="button" class="tc-button tc-modal-close">{{i18n "close"}}</button>
        </div>
    </div>
</div>

