<li class="tc-ctl-wlm-elm" tabindex="-1">
    <div title="{{title}}" class="tc-ctl-wlm-lyr">{{#if path}}{{title}}{{/if}}</div>
    <div class="tc-ctl-wlm-type"></div><div class="tc-ctl-wlm-path" title="{{#each path}}{{#unless @first}} &bull; {{/unless}}{{#each this}}{{#unless @first}} &rsaquo; {{/unless}}{{this}}{{/each}}{{else}}{{title}}{{/each}}">{{#each path}}<span>{{#each this}}{{#unless @first}} &rsaquo; {{/unless}}{{this}}{{/each}}</span>{{else}}{{title}}{{/each}}</div>
                                       <div class="tc-ctl-wlm-input">
                                           <div class="tc-ctl-wlm-tools">
                                               {{#if hasInfo}}<sitna-toggle class="tc-ctl-wlm-cb-info" text="{{i18n "infoFromThisLayer"}}" checked-icon-text="&#xe923;" unchecked-icon-text="&#xe923;"></sitna-toggle>{{/if}}
                                               <sitna-toggle class="tc-ctl-wlm-cb-visibility" {{#unless hide}} checked {{/unless}} text="{{i18n "visibilityOfThisLayer"}}" checked-icon-text="&#xe910;" unchecked-icon-text="&#xe911;"></sitna-toggle>
                                               {{#if hasExtent}}<sitna-button variant="minimal" icon-text="&#xe917;" class="tc-ctl-wlm-btn-zoom" text="{{i18n "zoomToLayerExtent"}}"></sitna-button>{{/if}}
                                               <sitna-button variant="minimal" icon="delete" class="tc-ctl-wlm-btn-del tc-item-tool-last" {{#if unremovable}} disabled{{else}}text="{{i18n "removeLayerFromMap"}}" {{/if}}></sitna-button>
                                               <sitna-button variant="minimal" icon-text="&#x2022&#x2022&#x2022" class="tc-ctl-wlm-btn-more" text="{{i18n "otherTools"}}"></sitna-button>
                                           </div>
                                           <input type="range" value="{{opacity}}" title="{{i18n "transparencyOfThisLayer"}}" />
                                       </div>
        <div class="tc-ctl-wlm-info tc-hidden">
            {{#if abstract.length}}
            <div class="tc-ctl-wlm-abstract">
                <h4>{{i18n "abstract"}}</h4>
                {{#each abstract}}
                <div><pre>{{{this}}}</pre></div>
                {{/each}}
            </div>
            {{/if}}
            {{#if customLegend}}
            <ul class="tc-ctl-wlm-custom-legend">
                {{{customLegend}}}
            </ul>
            {{else}}
                {{#if legend.length}}
                <div class="tc-ctl-wlm-legend" data-layer-name="{{layerNames}}">
                    <h4>{{i18n "content"}}:</h4>
                    {{#each legend}}
                        {{#each this}}
                    <div><p>{{title}}</p><img data-img="{{src}}" /></div>
                        {{/each}}
                    {{/each}}
                </div>
                {{/if}}
            {{/if}}
            {{#if metadata.length}}
            <div class="tc-ctl-wlm-metadata">
                <h4>{{i18n "metadata"}}:</h4>
                <ul>
                    {{#each metadata}}
                    <li>
                        <ul>
                        {{#each this}}
                            <li><a href="{{{url}}}" type="{{format}}" title="{{formatDescription}}" target="_blank">{{formatDescription}}</a></li>
                        {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        </div>
    <div class="tc-ctl-wlm-dd" title="{{i18n "dragToReorder"}}"></div>
</li>