<div id="api-list">
    <div id="api-tabview" class="tabview">
        <ul class="tabs">
            <li><a href="#api-modules">Secciones</a></li>
            <li><a href="#api-classes">Clases</a></li>
        </ul>

        <div id="api-tabview-filter">
            <input type="search" id="api-filter" placeholder="Escriba para filtrar la API">
        </div>

        <div id="api-tabview-panel">
            <ul id="api-modules" class="apis modules">
            {{#allModules}}
                <li><a class="module" href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a></li>
            {{/allModules}}
            </ul>

            <ul id="api-classes" class="apis classes">
            {{#classes}}
                <li><a title="{{displayName}}" class="type" href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
            {{/classes}}
            </ul>
        </div>
    </div>
</div>
